html,
body {
  margin: 0;
  padding: 0;
  font-family: "Audiowide", cursive;
  background-color: rgb(36, 36, 36);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 30px 0;
  min-height: calc(90vh);
}

.directions {
  flex: 50%;
  background-color: #333333;
  color: white;
  text-align: Left;
}

.cnvImg {
  justify-content: center;
  padding: 10% 18% 0;
}

p {
  color: rgb(199, 199, 199);
  padding: 30px 30px 10px;
  font-size: 20px;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  /* justify-content: center; */
  grid-gap: 25px;
  padding: 30px;
}

.devText {
  text-align: center;
  color: white;
  font-size: 40px;
}

img {
  width: 100%;
  height: 95vh;
}

/* .switch1 {
  height: 95vh;
  width: 100%;
  background: url("images/port.jpg") no-repeat;
  background-size: cover;
  display: inline-block;
}
.switch1:hover {
  height: 95vh;
  width: 100%;
  background: url("images/red2.png") no-repeat;
  background-size: cover;
} */

.switch1 {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url(images/abstract2.png) 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}

.switch1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  background: url(images/gltch2.png) 0 0 no-repeat;
  background-size: cover;
  opacity: 1;
  /* animation: change 0.6s infinite; */
}

.switch1:hover:before {
  animation: change 0.6s infinite;
}

.switch2 {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url(images/abstract0.png) 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}

.switch2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  background: url(images/gltch3.png) 0 0 no-repeat;
  background-size: cover;
  opacity: 1;
  /* animation: change 0.6s infinite; */
}

.switch2:hover:before {
  animation: change 0.6s infinite;
}

.switch3 {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url(images/abstract4.png) 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}

.switch3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  background: url(images/gltch4.png) 0 0 no-repeat;
  background-size: cover;
  opacity: 1;
  /* animation: change 0.6s infinite; */
}

.switch3:hover:before {
  animation: change 0.6s infinite;
}

/* .switch4 {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url(images/abstract2.png) 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
} */

/* .switch4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  background: url(images/gltch0.png) 0 0 no-repeat;
  background-size: cover;
  opacity: 1;
  animation: change 0.6s infinite;
} */

.switch4:hover:before {
  animation: change 0.6s infinite;
}

@keyframes change {
  0% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
    /* opacity: 0.5; */
  }
  10% {
    background-position: 4px 0;
    opacity: 0.5;
  }
  20% {
    background-position: -4px 0;
    opacity: 0.5;
  }
  30% {
    background-position: 12px 0;
    opacity: 0.5;
  }
  40% {
    background-position: -16px 0;
    opacity: 0.5;
  }
  50% {
    background-position: 44px 11px;
    opacity: 0.5;
  }
  60% {
    background-position: -22px 0;
    opacity: 0.5;
  }
  70% {
    background-position: 0 -22px;
    opacity: 0.8;
  }
  80% {
    background-position: -10px 0;
    opacity: 0.8;
  }
  100% {
    background-position: 0 0;
    filter: hue-rotate(360deg);
    /* opacity: 0; */
  }
}

.pic {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url(images/gltch1.png) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.pic::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80px;
  background: url(images/abstract1.png) no-repeat;
  background-size: cover;
  /* filter: sepia(100%); */
  opacity: 0;
}

.pic:hover:before {
  opacity: 0.7;
  animation: glitch 1.3s infinite linear;
  /* animation: glitch2 2s infinite linear; */
}

.pic2 {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url(images/gltch5.png) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.pic2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80px;
  background: url(images/abstract3.png) no-repeat;
  background-size: cover;
  /* filter: sepia(100%); */
  opacity: 0;
}

.pic2:hover:before {
  opacity: 0.7;
  animation: glitch 1.3s infinite linear;
  /* animation: glitch2 2s infinite linear; */
}

.pic3 {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url(images/gltch6.png) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.pic3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80px;
  background: url(images/abstract5.png) no-repeat;
  background-size: cover;
  /* filter: sepia(100%); */
  opacity: 0;
}

.pic3:hover:before {
  opacity: 0.7;
  animation: glitch 1.3s infinite linear;
  /* animation: glitch2 2s infinite linear; */
}

@keyframes glitch {
  0% {
    top: 0;
    background-position: 12px 0;
  }

  10% {
    top: 10%;
    background-position: -10px -80px;
  }

  20% {
    top: 20%;
    background-position: 6px -160px;
  }

  30% {
    top: 30%;
    background-position: -6px -240px;
  }

  40% {
    top: 40%;
    background-position: 10px -320px;
  }
  50% {
    top: 50%;
    background-position: -12px -400px;
  }
  60% {
    top: 60%;
    background-position: 10px -480px;
  }
  70% {
    top: 70%;
    background-position: -6px -560px;
  }
  80% {
    top: 80%;
    background-position: 10px -640px;
  }
  90% {
    top: 90%;
    background-position: -12px -720px;
  }
  100% {
    top: 100%;
    background-position: -10px -880px;
  }
}

@media (max-width: 1024px) {
  .container2 {
    grid-template-columns: 1fr 1fr;
  }

  img {
    height: 100%;
  }
}
