html,
body {
  margin: 0;
  padding: 0;
  font-family: "Audiowide", cursive;
  background-color: rgb(36, 36, 36);
}

a {
  color: #fff;
  text-decoration: none;
}
.btn {
  padding: 15px 45px;
  border: 1px solid rgb(88, 88, 88);
  border-radius: 0.5em;
  display: inline-block;
  margin-top: 1em;
  margin-left: 1em;
  background-color: transparent;
  font-weight: 700;
  transition: 0.3s;
}
.btn:hover {
  background-color: #fff;
  color: #222;
}
.popup {
  text-align: center;
  position: fixed;
  padding: 10px 10px 30px;
  max-width: 500px;
  border-radius: 0.5em;
  top: 50%;
  left: 50%;
  color: #000;
  transform: translate(-50%, -50%);
  background-color: rgb(236, 234, 234);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
  z-index: 1;
}
.popup:target {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.popup .close {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  color: #000;
  transition: color 0.3s;
  font-size: 2em;
  line-height: 1.5;
  font-weight: 700;
}
.popup .close:hover {
  color: #f00;
}
.close-popup {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}
.popup:target + .close-popup {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.container {
  /* display: flex; */
  justify-content: center;
  padding: 20px 30px 0;
  min-height: calc(83vh);
}

.cnvImg {
  /* justify-content: center; */
  padding: 0 5% 0 35%;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  /* justify-content: center; */
  grid-gap: 25px;
  padding: 30px;
}

.dirText {
  color: rgb(36, 36, 36);
  padding: 10px 30px 0;
  font-size: 20px;
}

img {
  width: 100%;
  height: 95vh;
}

/* .switch1 {
  height: 95vh;
  width: 100%;
  background: url("images/port.jpg") no-repeat;
  background-size: cover;
  display: inline-block;
}
.switch1:hover {
  height: 95vh;
  width: 100%;
  background: url("images/red2.png") no-repeat;
  background-size: cover;
} */

.switch1 {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url(images/abstract2.png) 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}

.switch1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  background: url(images/gltch2.png) 0 0 no-repeat;
  background-size: cover;
  opacity: 1;
  /* animation: change 0.6s infinite; */
}

.switch1:hover:before {
  animation: change 0.6s infinite;
}

.switch2 {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url(images/abstract0.png) 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}

.switch2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  background: url(images/gltch3.png) 0 0 no-repeat;
  background-size: cover;
  opacity: 1;
  /* animation: change 0.6s infinite; */
}

.switch2:hover:before {
  animation: change 0.6s infinite;
}

.switch3 {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url(images/abstract4.png) 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}

.switch3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  background: url(images/gltch4.png) 0 0 no-repeat;
  background-size: cover;
  opacity: 1;
  /* animation: change 0.6s infinite; */
}

.switch3:hover:before {
  animation: change 0.6s infinite;
}

.switch4 {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url(images/abstract6.png) 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}

.switch4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  background: url(images/abstract0.png) 0 0 no-repeat;
  background-size: cover;
  opacity: 1;
  /* animation: change 0.6s infinite; */
}

.switch4:hover:before {
  animation: change 0.6s infinite;
}

.switch5 {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url(images/abstract2.png) 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}

.switch5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  background: url(images/abstract1.png) 0 0 no-repeat;
  background-size: cover;
  opacity: 1;
  /* animation: change 0.6s infinite; */
}

.switch5:hover:before {
  animation: change 0.6s infinite;
}

.switch6 {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url(images/abstract7.png) 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}

.switch6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  background: url(images/abstract4.png) 0 0 no-repeat;
  background-size: cover;
  opacity: 1;
  /* animation: change 0.6s infinite; */
}

.switch6:hover:before {
  animation: change 0.6s infinite;
}

.switch7 {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url(images/abstract5.png) 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}

.switch7::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  background: url(images/abstract3.png) 0 0 no-repeat;
  background-size: cover;
  opacity: 1;
  /* animation: change 0.6s infinite; */
}

.switch7:hover:before {
  animation: change 0.6s infinite;
}

@keyframes change {
  0% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
    /* opacity: 0.5; */
  }
  10% {
    background-position: 4px 0;
    opacity: 0.5;
  }
  20% {
    background-position: -4px 0;
    opacity: 0.5;
  }
  30% {
    background-position: 12px 0;
    opacity: 0.5;
  }
  40% {
    background-position: -16px 0;
    opacity: 0.5;
  }
  50% {
    background-position: 44px 11px;
    opacity: 0.5;
  }
  60% {
    background-position: -22px 0;
    opacity: 0.5;
  }
  70% {
    background-position: 0 -22px;
    opacity: 0.8;
  }
  80% {
    background-position: -10px 0;
    opacity: 0.8;
  }
  100% {
    background-position: 0 0;
    filter: hue-rotate(360deg);
    /* opacity: 0; */
  }
}

.pic {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url(images/gltch1.png) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.pic::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80px;
  background: url(images/abstract1.png) no-repeat;
  background-size: cover;
  /* filter: sepia(100%); */
  opacity: 0;
}

.pic:hover:before {
  opacity: 0.7;
  animation: glitch 1.3s infinite linear;
  /* animation: glitch2 2s infinite linear; */
}

.pic2 {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url(images/gltch5.png) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.pic2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80px;
  background: url(images/abstract3.png) no-repeat;
  background-size: cover;
  /* filter: sepia(100%); */
  opacity: 0;
}

.pic2:hover:before {
  opacity: 0.7;
  animation: glitch 1.3s infinite linear;
  /* animation: glitch2 2s infinite linear; */
}

.pic3 {
  position: relative;
  width: 100%;
  height: 95vh;
  background: url(images/gltch6.png) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.pic3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80px;
  background: url(images/abstract5.png) no-repeat;
  background-size: cover;
  /* filter: sepia(100%); */
  opacity: 0;
}

.pic3:hover:before {
  opacity: 0.7;
  animation: glitch 1.3s infinite linear;
  /* animation: glitch2 2s infinite linear; */
}

@keyframes glitch {
  0% {
    top: 0;
    background-position: 12px 0;
  }

  10% {
    top: 10%;
    background-position: -10px -80px;
  }

  20% {
    top: 20%;
    background-position: 6px -160px;
  }

  30% {
    top: 30%;
    background-position: -6px -240px;
  }

  40% {
    top: 40%;
    background-position: 10px -320px;
  }
  50% {
    top: 50%;
    background-position: -12px -400px;
  }
  60% {
    top: 60%;
    background-position: 10px -480px;
  }
  70% {
    top: 70%;
    background-position: -6px -560px;
  }
  80% {
    top: 80%;
    background-position: 10px -640px;
  }
  90% {
    top: 90%;
    background-position: -12px -720px;
  }
  100% {
    top: 100%;
    background-position: -10px -880px;
  }
}

.abstractive {
  color: white;
  font-size: 50px;
  text-align: center;
  /* text-transform: upercase; */
  position: relative;
  display: block;
  padding-top: 20px;
}
.abstractive::before,
.abstractive::after {
  content: attr(data-text);
  position: absolute;
  font-size: 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(36, 36, 36);
}
.abstractive::before {
  /* left: 2px; */
  text-shadow: -2px 0 #49fc00;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
.abstractive::after {
  left: -2px;
  text-shadow: -2px 0 #b300fc;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(122px, 9999px, 41px, 0);
  }
  4.166666666666666% {
    clip: rect(14px, 9999px, 129px, 0);
  }
  8.333333333333332% {
    clip: rect(128px, 9999px, 124px, 0);
  }
  12.5% {
    clip: rect(134px, 9999px, 38px, 0);
  }
  16.666666666666664% {
    clip: rect(46px, 9999px, 49px, 0);
  }
  20.833333333333336% {
    clip: rect(30px, 9999px, 58px, 0);
  }
  25% {
    clip: rect(64px, 9999px, 16px, 0);
  }
  29.166666666666668% {
    clip: rect(4px, 9999px, 104px, 0);
  }
  33.33333333333333% {
    clip: rect(6px, 9999px, 21px, 0);
  }
  37.5% {
    clip: rect(99px, 9999px, 124px, 0);
  }
  41.66666666666667% {
    clip: rect(57px, 9999px, 113px, 0);
  }
  45.83333333333333% {
    clip: rect(32px, 9999px, 26px, 0);
  }
  50% {
    clip: rect(39px, 9999px, 2px, 0);
  }
  54.166666666666664% {
    clip: rect(96px, 9999px, 97px, 0);
  }
  58.333333333333336% {
    clip: rect(68px, 9999px, 45px, 0);
  }
  62.5% {
    clip: rect(144px, 9999px, 98px, 0);
  }
  66.66666666666666% {
    clip: rect(111px, 9999px, 75px, 0);
  }
  70.83333333333334% {
    clip: rect(100px, 9999px, 137px, 0);
  }
  75% {
    clip: rect(5px, 9999px, 124px, 0);
  }
  79.16666666666666% {
    clip: rect(15px, 9999px, 27px, 0);
  }
  83.33333333333334% {
    clip: rect(25px, 9999px, 120px, 0);
  }
  87.5% {
    clip: rect(105px, 9999px, 55px, 0);
  }
  91.66666666666666% {
    clip: rect(127px, 9999px, 10px, 0);
  }
  95.83333333333334% {
    clip: rect(94px, 9999px, 111px, 0);
  }
  100% {
    clip: rect(127px, 9999px, 45px, 0);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(122px, 9999px, 41px, 0);
  }
  4.166666666666666% {
    clip: rect(14px, 9999px, 129px, 0);
  }
  8.333333333333332% {
    clip: rect(128px, 9999px, 124px, 0);
  }
  12.5% {
    clip: rect(134px, 9999px, 38px, 0);
  }
  16.666666666666664% {
    clip: rect(46px, 9999px, 49px, 0);
  }
  20.833333333333336% {
    clip: rect(30px, 9999px, 58px, 0);
  }
  25% {
    clip: rect(64px, 9999px, 16px, 0);
  }
  29.166666666666668% {
    clip: rect(4px, 9999px, 104px, 0);
  }
  33.33333333333333% {
    clip: rect(6px, 9999px, 21px, 0);
  }
  37.5% {
    clip: rect(99px, 9999px, 124px, 0);
  }
  41.66666666666667% {
    clip: rect(57px, 9999px, 113px, 0);
  }
  45.83333333333333% {
    clip: rect(32px, 9999px, 26px, 0);
  }
  50% {
    clip: rect(39px, 9999px, 2px, 0);
  }
  54.166666666666664% {
    clip: rect(96px, 9999px, 97px, 0);
  }
  58.333333333333336% {
    clip: rect(68px, 9999px, 45px, 0);
  }
  62.5% {
    clip: rect(144px, 9999px, 98px, 0);
  }
  66.66666666666666% {
    clip: rect(111px, 9999px, 75px, 0);
  }
  70.83333333333334% {
    clip: rect(100px, 9999px, 137px, 0);
  }
  75% {
    clip: rect(5px, 9999px, 124px, 0);
  }
  79.16666666666666% {
    clip: rect(15px, 9999px, 27px, 0);
  }
  83.33333333333334% {
    clip: rect(25px, 9999px, 120px, 0);
  }
  87.5% {
    clip: rect(105px, 9999px, 55px, 0);
  }
  91.66666666666666% {
    clip: rect(127px, 9999px, 10px, 0);
  }
  95.83333333333334% {
    clip: rect(94px, 9999px, 111px, 0);
  }
  100% {
    clip: rect(127px, 9999px, 45px, 0);
  }
}
@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(49px, 9999px, 89px, 0);
  }
  10% {
    clip: rect(75px, 9999px, 138px, 0);
  }
  13.333333333333334% {
    clip: rect(39px, 9999px, 133px, 0);
  }
  16.666666666666664% {
    clip: rect(21px, 9999px, 47px, 0);
  }
  20% {
    clip: rect(93px, 9999px, 15px, 0);
  }
  23.333333333333332% {
    clip: rect(53px, 9999px, 84px, 0);
  }
  26.666666666666668% {
    clip: rect(145px, 9999px, 2px, 0);
  }
  30% {
    clip: rect(48px, 9999px, 96px, 0);
  }
  33.33333333333333% {
    clip: rect(96px, 9999px, 106px, 0);
  }
  36.666666666666664% {
    clip: rect(119px, 9999px, 4px, 0);
  }
  40% {
    clip: rect(22px, 9999px, 5px, 0);
  }
  43.333333333333336% {
    clip: rect(61px, 9999px, 60px, 0);
  }
  46.666666666666664% {
    clip: rect(28px, 9999px, 27px, 0);
  }
  50% {
    clip: rect(77px, 9999px, 113px, 0);
  }
  53.333333333333336% {
    clip: rect(105px, 9999px, 126px, 0);
  }
  56.666666666666664% {
    clip: rect(149px, 9999px, 23px, 0);
  }
  60% {
    clip: rect(119px, 9999px, 131px, 0);
  }
  63.33333333333333% {
    clip: rect(71px, 9999px, 131px, 0);
  }
  66.66666666666666% {
    clip: rect(150px, 9999px, 17px, 0);
  }
  70% {
    clip: rect(79px, 9999px, 107px, 0);
  }
  73.33333333333333% {
    clip: rect(131px, 9999px, 141px, 0);
  }
  76.66666666666667% {
    clip: rect(15px, 9999px, 145px, 0);
  }
  80% {
    clip: rect(7px, 9999px, 110px, 0);
  }
  83.33333333333334% {
    clip: rect(63px, 9999px, 129px, 0);
  }
  86.66666666666667% {
    clip: rect(58px, 9999px, 149px, 0);
  }
  90% {
    clip: rect(7px, 9999px, 100px, 0);
  }
  93.33333333333333% {
    clip: rect(47px, 9999px, 124px, 0);
  }
  96.66666666666667% {
    clip: rect(59px, 9999px, 96px, 0);
  }
  100% {
    clip: rect(110px, 9999px, 9px, 0);
  }
}
@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(49px, 9999px, 89px, 0);
  }
  10% {
    clip: rect(75px, 9999px, 138px, 0);
  }
  13.333333333333334% {
    clip: rect(39px, 9999px, 133px, 0);
  }
  16.666666666666664% {
    clip: rect(21px, 9999px, 47px, 0);
  }
  20% {
    clip: rect(93px, 9999px, 15px, 0);
  }
  23.333333333333332% {
    clip: rect(53px, 9999px, 84px, 0);
  }
  26.666666666666668% {
    clip: rect(145px, 9999px, 2px, 0);
  }
  30% {
    clip: rect(48px, 9999px, 96px, 0);
  }
  33.33333333333333% {
    clip: rect(96px, 9999px, 106px, 0);
  }
  36.666666666666664% {
    clip: rect(119px, 9999px, 4px, 0);
  }
  40% {
    clip: rect(22px, 9999px, 5px, 0);
  }
  43.333333333333336% {
    clip: rect(61px, 9999px, 60px, 0);
  }
  46.666666666666664% {
    clip: rect(28px, 9999px, 27px, 0);
  }
  50% {
    clip: rect(77px, 9999px, 113px, 0);
  }
  53.333333333333336% {
    clip: rect(105px, 9999px, 126px, 0);
  }
  56.666666666666664% {
    clip: rect(149px, 9999px, 23px, 0);
  }
  60% {
    clip: rect(119px, 9999px, 131px, 0);
  }
  63.33333333333333% {
    clip: rect(71px, 9999px, 131px, 0);
  }
  66.66666666666666% {
    clip: rect(150px, 9999px, 17px, 0);
  }
  70% {
    clip: rect(79px, 9999px, 107px, 0);
  }
  73.33333333333333% {
    clip: rect(131px, 9999px, 141px, 0);
  }
  76.66666666666667% {
    clip: rect(15px, 9999px, 145px, 0);
  }
  80% {
    clip: rect(7px, 9999px, 110px, 0);
  }
  83.33333333333334% {
    clip: rect(63px, 9999px, 129px, 0);
  }
  86.66666666666667% {
    clip: rect(58px, 9999px, 149px, 0);
  }
  90% {
    clip: rect(7px, 9999px, 100px, 0);
  }
  93.33333333333333% {
    clip: rect(47px, 9999px, 124px, 0);
  }
  96.66666666666667% {
    clip: rect(59px, 9999px, 96px, 0);
  }
  100% {
    clip: rect(110px, 9999px, 9px, 0);
  }
}

@media (max-width: 1024px) {
  .container {
    min-height: calc(25vh);
  }
  .container2 {
    grid-template-columns: 1fr 1fr;
  }
  img {
    height: 27vh;
  }
}
